* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    background-color: black;
    color: aliceblue;
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: lightblue;
    transition: 0.2s;
}

#full-content {
    display: flex;
}

#sidebar {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    border-right: 5px solid whitesmoke;
    width: 15%;
    height: 100vh;
    padding: 0px 10px 0px 10px;
}

#dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 22px;
    padding: 10px;
    border-bottom: 2px solid whitesmoke;
}


.sidebar-option { 
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-size: 22px;
    padding: 10px;
}

#dashboard-title {
    font-size: 30px;
}

#dashboard-icon {
    filter: invert(100%);
    width: 100px;
}

.icon {
    filter: invert(100%);
    width: 50px;
}


#add-new-project,
#delete-project,
.open-add-task {
    color: whitesmoke;
    margin-top: auto;
    align-self: center;
    margin-bottom: 15px;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    border: 5px solid whitesmoke;
    background-color: black;
}

#add-new-project:hover,
#delete-project:hover,
.open-add-task:hover {
    color: black;
    background-color: lightblue;
    border-color: lightblue;
    transition: 0.2s;
}

#project-button-container {
    align-self: flex-end;
}

#bigger-projects-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 80%;
    overflow: auto;
}


/* projects dropdown */

#projects-container {
    display: none;
}

#projects-container.show {
    display: block;
}

.project-display {
    display: flex;
    justify-content: start;
    margin-left: 20px;
    align-items: center;
    gap: 10px;
    transition: 0.2s;
    overflow: hidden;
}

.medium-icon {
    filter: invert(100%);
    width: 35px;
}

input,
select,
textarea {
    border: 1px solid #ccc;
    box-shadow:none;
    outline: none;
    box-sizing: border-box;
    border-color: #E5E7EB;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    font-family: inherit;
    transition: all 0.3s ease;
    width: 200px;
}

input:focus {
    box-shadow: 0 0 8px rgba(5, 5, 5, 0.5);
    border-color:#2a529d;
    outline: none;
}

#project-dialog,
#delete-project-dialog {
    justify-self: center;
    align-self: center;
    justify-content: right;
    background-color: #dbddef;
    border-color:#101633;
    border-width: 10px;
    border-radius: 10px;
    padding: 30px;
    font-size: 80%;
    width: 350px;
}

#project-buttons-div {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.form-buttons {
    font-weight: bolder;
    padding: 5px 10px 5px 10px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    background-color:#000000;
    color: whitesmoke;
}

#delete-project-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-buttons:hover {
    background-color: lightblue;
    color: black;
    transition: 0.2s;
}

#project-label-add,
#project-label-delete {
    font-size: 20px;
    font-weight: bold;
}

#project-button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* todo part */

#main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 10px;
}

.add-task-dialog {
    justify-self: center;
    align-self: center;
    justify-content: right;
    background-color: #dbddef;
    border-color:#101633;
    border-width: 10px;
    border-radius: 10px;
    padding: 30px;
    font-size: 80%;
    width: 350px;
}

/* task header handling */

#task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: auto;
}

#task-page-project-title {
    display: flex;
    justify-content: center;
    color: #ffffff;
    border-bottom: 2px solid whitesmoke;
}

.task-header {
    display: flex;
    justify-self: center;
    justify-content: space-around;
    border: 2px solid whitesmoke;
    border-radius: 6px;
    width: 320px;
}


.task-header-toggle {
    color: whitesmoke;
    background-color: #000000;
    border: 2px solid whitesmoke;
    border-radius: 6px;
    width: 100px;
}

.task-item { /* task container */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, auto); /* Ensures rows expand as needed */
    gap: 20px;
    padding: 0px 25px 0px 25px;
    border: 2px solid #E5E7EB;
    max-width: 80%;
}

.task-content,
.task-content-large { /* each task item */
    font-size: 18px;
}

.task-content-large {
    min-height: 100px;
    max-height: 300px;
    overflow: auto;
}

.task-buttons-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-self: center;
    padding: 10px;
    gap: 20px;
}

.button-task-options {
    color: whitesmoke;
    margin-top: auto;
    align-self: center;
    margin-bottom: 15px;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    border: 5px solid whitesmoke;
    background-color: black;
}

.button-task-options:hover {
    color: black;
    background-color: lightblue;
    border-color: lightblue;
    transition: 0.2s;
}

